body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
    max-width: 800px;
    margin: auto;
}
header {
    background-color: #f4f4f4;
    padding: 1rem;
    text-align: center;
}
.project {
    margin-bottom: 2rem;
    border-bottom: 1px solid #ccc;
    padding-bottom: 1rem;
}
img {
    max-width: 100%;
    height: auto;
}
.image-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}
.image-container img {
    width: 48%;
    height: auto;
    object-fit: contain;
    max-height: 300px;
}
h1, h2, h3 { text-align: center; }
p { text-align: justify; }
body.dark-mode {
    background-color: #333;
    color: #fff;
}
.dark-mode a {
    color: #9cf;
}

/* Ajout des styles pour le bouton "Back to Top" */
#back-to-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 20px;
    cursor: pointer;
}

#back-to-top:hover {
    background-color: #555;
}

/* Styles pour le bouton de mode sombre */
#dark-mode-toggle {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

#dark-mode-toggle:hover {
    background-color: #555;
}

